/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Manrope&display=swap');

/* some common css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  behavior: smooth;
}

section {
  margin-bottom: 100px;
}

/* css variables */

:root {
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
  --font-third: 'Lobster', cursive;
  --font-fourth: 'Manrope', sans-serif;
  --primary-clr: #ffffff;
  --secondary-clr: #ff5959;
  --third-clr: #4f9da61a;
  --fourth-clr: #fff4d6;
  --fifth-clr: #707070;
  --sixth-clr: #121212;
  --seventh-clr: #d9dbe1;
  --eighth-clr: #D9D9D9;
  --ninth-clr: #0B0D17;
  --font-weight-1: 400;
  --font-weight-2: 500;
  --font-weight-3: 600;
  --font-weight-4: 700;
}

/* header starts from here */

.banner {
  height: 100vh;
  width: 100%;
  padding: 0px 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)),
    url("../images/donation2.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--primary-clr);
}

.banner-title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-4);
  font-size: 50px;
  margin-bottom: 15px;
}

.banner-text {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-1);
  font-size: 15px;
  margin-bottom: 20px;
}

.donate-btn {
  padding: 10px 12px;
  border: 2px solid var(--secondary-clr);
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  font-weight: var(--font-weight-3);
  font-family: var(--font-primary);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.donate-btn:hover {
  background: none;
  color: var(--secondary-clr);
}

/* main section starts from here */

.donate-today,
.donation-plan {
  text-align: center;
}

.donate-today-heading,
.donation-plan-title, .footer-heading {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-4);
  font-size: 30px;
  margin-bottom: 15px;
}

.donate-body,
.donation-plan-body, .footer-texts {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-1);
  font-size: 14px;
  margin-bottom: 20px;
  padding: 0px 15px;
}

.btn {
  border: none;
  padding: 17px 17px;
  margin-left: 10px;
  margin-bottom: 3rem;
  font-family: var(--font-primary);
  font-weight: var(--font-weight-3);
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
}

.second {
  border: 1px solid var(--secondary-clr);
  color: var(--secondary-clr);
  background: #e9b5b5;
}

.btn:hover {
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form input {
  padding: 0.5rem 5rem;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--seventh-clr);
  margin-bottom: 2rem;
  text-align: center;
  font-weight: var(--font-weight-3);
}

/* donation plan section starts from here */

.card {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 3rem 0.3rem;
  width: 85%;
}

.card-title {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-3);
  font-size: 20px;
  color: var(--sixth-clr);
  text-align: start;
  margin-bottom: 10px;
}

.card-body {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-1);
  font-size: 14px;
  color: var(--fifth-clr);
  text-align: start;
}

.card img {
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.card-1 {
  background-color: var(--third-clr);
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.card-2 {
  background-color: #e9b5b5;
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}
.card-3 {
  background-color: var(--fourth-clr);
  padding: 30px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.card-1:hover {
    background-color: var(--seventh-clr);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}
.card-2:hover {
    background-color: var(--seventh-clr);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}
.card-3:hover {
    background-color: var(--seventh-clr);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
}

/* save life section starts from here */

.save-life {
  max-width: 85%;
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  margin-bottom: 100px;
}

.save-life-title, .survive-title {
  font-family: var(--font-primary);
  font-weight: var(--font-weight-4);
  font-size: 30px;
  margin-bottom: 15px;
}

.save-life-text, .survive-text {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-1);
  font-size: 14px;
  margin-bottom: 20px;
}

.texts button {
  padding: 10px 12px;
  border: 2px solid var(--secondary-clr);
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  font-weight: var(--font-weight-3);
  font-family: var(--font-primary);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.texts button:hover {
  background: none;
  color: var(--secondary-clr);
}

.img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* survival section starts from here */

.survive {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin-bottom: 100px;
}

/* footer section starts from here */

footer {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-form {
  background-color: var(--fourth-clr);
  width: 70%;
  margin: 0 auto;
  padding: 60px 50px;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 100px;
}

.footer-form input {
  border: none;
  background-color: var(--eighth-clr);
  padding: 1rem 1.1rem;
  border-radius: 3px;
  outline: none;
  font-weight: var(--font-weight-4);
}

.footer-form button {
  padding: 10px 12px;
  border: 2px solid var(--secondary-clr);
  background-color: var(--secondary-clr);
  color: var(--primary-clr);
  font-weight: var(--font-weight-3);
  font-family: var(--font-primary);
  cursor: pointer;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
}
.footer-form button:hover {
  background: none;
  color: var(--secondary-clr);
}

/* last part */

.last-part {
  text-align: center;
  background-color: var(--ninth-clr);
  padding: 1rem 0rem;
}

.last-text {
  font-family: var(--font-third);
  font-weight: var(--font-weight-2);
  color: var(--secondary-clr);
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
} 

.last-part p {
  font-family: var(--font-fourth);
  font-weight: var(--font-weight-1);
  color: var(--eighth-clr);
  font-size: 0.8rem;
}

/* responsive part */

@media screen and (max-width: 768px) and (min-width: 577px) {
  
  .footer-form {
    width: 80%;
    padding: 40px 30px;
    display: flex;
    gap: 0.7rem;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
    .card {
        display: flex;
        flex-direction: column;
    }

    .save-life {
      display: flex;
     flex-direction: column-reverse;
    }

    .survive {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .footer-form {
      width: 100%;
      padding: 40px 30px;
      display: flex;
      gap: 1rem;
      align-items: center;
      flex-direction: column;
    }
}
